@use "../../styles/animations";
@use "../../styles/breakpoints" as bp;

.hero {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;

  max-width: 1280px;
  margin: auto;
  padding: 7.5rem 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  .subtitle {
    color: var(--special-cyan);
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
  }

  h2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.1;
  }

  span {
    color: var(--text-primary);
  }

  small {
    font-size: 2rem;

    strong {
      background: linear-gradient(
        90deg,
        var(--special-cyan),
        var(--special-purple),
        var(--special-pink)
      );

      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.25rem;

  a {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;

    &:first-child {
      background: var(--special-cyan);
      color: var(--special-black);

      &:hover {
        box-shadow: 0 0 1rem
          color-mix(in srgb, var(--special-cyan) 50%, transparent);
      }
    }

    &:last-child {
      border: 1px solid var(--text-primary);
      color: var(--text-primary);

      &:hover {
        background-color: var(--background-object);
      }
    }

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.animation {
  display: none;
  position: relative;
  aspect-ratio: 1;
}

.square1,
.square2,
.square3 {
  position: absolute;
  border-radius: 5%;
}

.square1 {
  inset: 0;
  animation: rotate 20s linear infinite;
  border: 1px solid color-mix(in srgb, #f3bf26 30%, transparent);
}

.square2 {
  inset: 60px;
  animation: rotateReverse 15s linear infinite;
  border: 1px solid color-mix(in srgb, #d0bcff 30%, transparent);
}

.square3 {
  inset: 120px;
  animation: pulse 4s ease infinite;
  border: 1px solid color-mix(in srgb, var(--special-cyan) 30%, transparent);
}

.icon {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 8rem;
  font-weight: 900;
  color: var(--special-cyan);
  opacity: 0.2;

  :first-child {
    position: absolute;
    top: 180;
    width: 6rem;
    height: 4rem;
    border: 0.75rem solid var(--tertiary);
    border-radius: 1rem;
    box-shadow: 0 -1rem 0 0 var(--tertiary);
  }
}

.scroll {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  span {
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    color: var(--text-secondary);
  }
}

.scrollLine {
  width: 1px;
  height: 3rem;
  background: linear-gradient(to bottom, var(--special-cyan), transparent);
  animation: bounce 1.8s infinite;
}

@media (min-width: bp.$tablet) {
  .hero {
    align-items: center;
  }

  .content {
    .subtitle {
      font-size: 1rem;
    }

    h2 {
      font-size: 4rem;
    }

    small {
      font-size: 2.5rem;
    }
  }

  .buttons {
    a {
      padding: 1rem 2rem;
    }
  }

  .scroll {
    bottom: 2.5rem;
  }
}

@media (min-width: bp.$laptop) {
  .hero {
    grid-template-columns: 1fr 25rem;
  }

  .content p {
    max-width: 90%;
  }

  .animation {
    display: block;
    transform: scale(0.8);
  }
}

@media (min-width: bp.$desktop) {
  .animation {
    transform: scale(1);
  }
}
