@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes lightSweep {
  0% {
    left: -150%;
  }
  25% {
    left: 150%;
  }
  75% {
    left: 150%;
  }
  100% {
    left: 150%;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes rotateReverse {
  from {
    rotate: 360deg;
  }

  to {
    rotate: 0deg;
  }
}

@keyframes pulse {
  50% {
    scale: 1.05;
  }
}

@keyframes bounce {
  50% {
    transform: translateY(12px);
  }
}

@keyframes bounceToLeft {
  50% {
    transform: translateX(-12px);
  }
}

@keyframes bounceToRight {
  50% {
    transform: translateX(12px);
  }
}
