:root {
  --background: #050d26;

  --text-primary: #d5f3ff;
  --text-secondary: #05f2db40;

  --special-cyan: #00ffff;
  --special-purple: #bb44ff;
  --special-pink: #ff00ff;

  --card-variant-one: #08a6bb;
  --card-variant-two: #f76844;
  --card-variant-three: #c71c85;
  --card-variant-four: #13a53f;
}
