* {
  box-sizing: border-box;
  font-size: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/assets/fonts/neue-machina-regular.otf");
}

body {
  background-color: #000000;
  color: #ffffff;
}

main {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ffffff;
  border-radius: 1rem;
}
