* {
  box-sizing: border-box;
  font-size: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/assets/fonts/neue-machina-regular.otf");
}

body {
  background-color: #000000;
  color: #ffffff;
}

main {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ffffff;
  border-radius: 1rem;
}

main::before {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  background-image: url("/assets/img/background/background-top.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
  display: inline-block;
  z-index: -1;
}

main::after {
  position: fixed;
  bottom: 0;
  right: 0;
  content: "";
  background-image: url("/assets/img/background/background-bottom.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
  display: inline-block;
  z-index: -1;
}
