.skills {
  display: flex;
  flex-direction: column;
}

.skills .tools ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills .tools ul li img {
  width: 2.25rem;
  margin: 1rem 1rem;
}

.skills .personal ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.skills .personal ul li {
  width: 9rem;
  margin-left: 2rem;
  padding: 0.5rem;
}

@media only screen and (min-width: 405px) {
  .skills .personal ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 550px) {
  .skills {
    display: grid;
    grid-template-columns: 16rem 1fr;
  }

  .skills .tools {
    width: 15rem;
  }
}

@media only screen and (min-width: 550px) {
  .skills .tools ul li img {
    width: 3rem;
  }

  .skills .personal ul li {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 721px) {
  .skills .personal ul li {
    margin-bottom: 1rem;
  }
}
