.skills {
  display: flex;
  flex-direction: column;
}

.skills .tools {
  max-width: 13rem;
}

.skills .tools ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills .tools ul li img {
  width: 2.25rem;
  margin: 1rem 1rem;
}

.skills .personal ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.skills .personal ul li {
  width: 7rem;
  margin-left: 2rem;
  padding: 0.5rem;
}

@media only screen and (min-width: 375px) {
  .skills .tools ul li {
    width: 33%;
  }
}

@media only screen and (min-width: 550px) {
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .skills .personal ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}
