@use "../styles/animations";
@use "../styles/breakpoints" as bp;

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100%;
  margin: 0 auto;
  padding: 7.5rem 3.75rem;
  background-color: var(--foreground);
}

.top {
  display: flex;
  align-items: center;
  gap: 1rem;

  .lineLeft,
  .lineRight {
    width: 80px;
    height: 2px;
  }

  .lineLeft {
    background: linear-gradient(to right, transparent, var(--special-purple));
  }

  .lineRight {
    background: linear-gradient(to left, transparent, var(--special-purple));
  }

  .rocketIcon {
    width: 2rem;
    height: 2rem;
    animation: float 3s ease-in-out infinite;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1.5rem;

  text-align: center;

  h1 {
    font-size: 3rem;
  }
}

.title {
  color: var(--special-cyan);
  letter-spacing: 0.2rem;
  font-weight: 400;
}

.tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  opacity: 0.5;
}

@media (min-width: bp.$tablet) {
  .tagline {
    flex-direction: row;
  }
}
