.cta {
  position: relative;
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  background: transparent;
  color: var(--special-cyan);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;

  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  overflow: visible;
}

.rounded {
  border-radius: 0.75rem;
}

.square {
  border-radius: 0rem;
}

.cta::before,
.cta::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;

  background: linear-gradient(
    90deg,
    var(--special-cyan),
    var(--special-purple),
    var(--special-pink)
  );
  background-size: 300%;

  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

.cta::before {
  filter: blur(2px);
  animation: gradientMove 6s ease infinite;
  z-index: 0;
}

.cta::after {
  filter: blur(12px);
  opacity: 0;
  transition:
    opacity 0.3s ease,
    filter 0.3s ease;
  z-index: -1;
  pointer-events: none;
}

.cta:hover {
  transform: scale(1.05);
}

.cta:hover::after {
  opacity: 1;
  filter: blur(14px);
}

.cta:active {
  transform: scale(0.95);
}

.cta:active::after {
  opacity: 1;
  filter: blur(20px);
}

.content {
  position: relative;
  z-index: 1;
}

.buttonIcon {
  width: 1.2rem;
  height: 1.2rem;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
